body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: auto;
}

div.text-center {
    background: #ebebeb;
    text-align: center;
    padding: 40px;
    margin: 10px;
}