* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: auto;
}

#header, #nav, #footer {
    background: #ebebeb;
    text-align: center;
    padding: 35px 100px 35px 0px;
    margin: 10px 0px;
    clear: both;
}

#section {
    background: #ebebeb;
    text-align: center;
    width: 495px;
    padding: 40px 10px 10px 10px;
    margin: 10px 20px 20px 0px;
    float: left;
}

#article {
    color: #ebebeb;
    background: #777;
    padding: 20px 10px 10px 10px;
    margin: 25px 5px 5px 5px;
}

.article-content {
    color: #777;
    background: #ebebeb;
    padding: 15px;
    margin: 10px;
}

#htags {
    margin-top: 15px;
    font-weight: bold;
}

#aside {
    color: #777;
    background: #ebebeb;
    text-align: center;
    float: left;
    width: 445px;
    height: 275px;
    padding: 40px;
    margin: 10px 0px;
}